/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------- GENERAL ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

a {
  color: #597cff;
  text-decoration: none;
}

a:hover {
  color: #d3e7ff;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 0;
}

.home-title {
  font-family: "futura-pt", sans-serif;
  font-weight: 800;
  font-size: 7rem;
  color: #597cff;
  margin: 0;
}

.section-container {
  color: #333;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px;
}

.section-title {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 3rem;
  padding-bottom: 20px;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------- SOCIALS ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.social-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 2rem;
}

.social-link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.home-links {
  gap: 50px;
}

.home-link {
  font-size: 2rem;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------- NAV ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 10;
  padding-top: 12px;
}

.navbar-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 10px;
  align-items: center;
}

.navbar-item {
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  transition: color 0.3s;
  font-family: "futura-pt", sans-serif;
}

.navbar-link:hover {
  color: #597cff;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 15;
}

.hamburger-bar {
  width: 25px;
  height: 3px;
  background: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  animation: fadeIn 0.3s ease forwards;
}

.fullscreen-modal.closing {
  animation: fadeOut 0.3s ease forwards;
}

.close-modal {
  position: absolute;
  top: 4px;
  right: 17px;
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.modal-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-link {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}

.modal-link:hover {
  color: #597cff;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------- ABOUT ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.about-content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  position: relative;
}

.about-description {
  text-align: left;
}

.about-description p {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------ PROJECTS --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.project-row {
  float: left;
  margin-bottom: 50px;
}

.project-img {
  float: left;
  text-align: center;
  width: 350px;
  height: 225px;
  object-fit: scale-down;
}

.project-description {
  float: right;
  text-align: left;
  width: calc(100% - 400px);
}

.project-description h2 {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  margin: 0;
}

.project-description a {
  color: #597cff;
  text-decoration: none;
}

.project-description a:hover {
  color: #d3e7ff;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------- REEL ------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------- FOOTER ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.footer {
  font-family: "futura-pt", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3f3f3f;
  color: white;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------ THEME TOGGLE ----------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  position: relative;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.toggle-input {
  display: none; /* Hide the default checkbox */
}

.toggle-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.toggle-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #333;
  transition: color 0.3s ease;
}

.toggle-icon:hover {
  color: #597cff;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------- DARK MODE THEME ------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

/* Background Colors */
body.dark-mode {
  background-color: #121212;
}

body.dark-mode .navbar-container {
  background-color: #121212;
  border-color: #3f3f3f;
}

body.dark-mode .fullscreen-modal {
  background-color: #121212;
}

body.dark-mode .section-container {
  background-color: #121212;
  color: #bfc2ff;
}

/* Text Colors */
body.dark-mode .home-title {
  color: #9ba5ff;
}

body.dark-mode .section-title,
body.dark-mode .navbar-link,
body.dark-mode .modal-link {
  color: #d8d8d8;
}

body.dark-mode .navbar-link:hover,
body.dark-mode .modal-link:hover {
  color: #597cff;
}

/* About Section */
body.dark-mode p {
  color: #d8d8d8;
}

body.dark-mode a {
  color: #bfc2ff;
}

body.dark-mode a:hover {
  color: #597cff;
}

body.dark-mode .social-link {
  color: #d8d8d8;
}

body.dark-mode .social-link:hover {
  color: #333;
}

/* Projects Section */
body.dark-mode .project-description {
  color: #d8d8d8;
}

body.dark-mode .project-description a:hover {
  color: #597cff;
}

/* Theme Toggle */
body.dark-mode .toggle-icon {
  color: #d8d8d8;
}

body.dark-mode .toggle-icon:hover {
  color: #597cff;
}

body.dark-mode .hamburger-bar {
  background-color: #d8d8d8;
}

body.dark-mode .close-modal {
  color: #d8d8d8;
}

@media (max-width: 1100px) {
  .section-container {
    padding: 100px 100px;
  }
  .section-title {
    text-align: center;
  }
  .project-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: none;
    margin: 0;
  }
  .project-img {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    float: none;
  }
  .project-description {
    /* padding: 0 20px; */
    width: 100%;
    float: none;
  }
}

@media (max-width: 767px) {
  .section-container {
    padding: 100px 20px;
  }
  .navbar-list {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .navbar-container {
    border-bottom: none;
  }
}

@media (max-width: 600px) {
  .home-title {
    font-size: 5rem;
  }
  .home-links {
    gap: 30px;
  }
  .home-link {
    font-size: 1.5rem;
  }
}
